# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
cmd/tmp/
connect-backup
dist/
packaged.yaml
connect-backup-lambda
connect-backup-lambda.zip
lambda/template.yaml
env-local.mk

